section.py10 {
    margin-top: 74px;
}
.MuiFormControl-root.MuiTextField-root.MuiFormControl-fullWidth {
    margin-bottom: 21px;
}
footer.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation0 {
    margin-top: 80px;
}